@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --bg-headings-btn: hsl(0, 0%, 95%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-headings-btn);
    height: 100vh;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
}

h1 {
    color: var(--bg-headings-btn);
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    margin: 8px 0;
}

p {
    color: var(--paragraphs);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-bottom: 30%;
}

img {
    width: 25%;
}

.container {
    width: 80%;
}

.first-box, .second-box, .third-box {
    padding: 12%;
    position: relative;
}

.first-box {
    background-color: var(--bright-orange);
    border-radius: 8px 8px 0 0;
}

.second-box {
    background-color: var(--dark-cyan);
}

.third-box {
    background-color: var(--very-dark-cyan);
    border-radius: 0 0 8px 8px;
}

.btn {
    background-color: var(--bg-headings-btn);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    padding: 12px 25px;
    position: absolute;
    bottom: 10%;
}

.first-box .btn {
    color: var(--bright-orange);
}

.second-box .btn {
    color: var(--dark-cyan);
}

.third-box .btn {
    color: var(--very-dark-cyan);
}

.btn:hover {
    border: 2px solid var(--bg-headings-btn);
    background-color: transparent;
    color: var(--bg-headings-btn);
}

.attribution {
    position: absolute;
    bottom: 10px;
}

@media (min-width: 1100px) {
    p {
        margin-bottom: 60%;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 60%;
    }

    .first-box, .second-box, .third-box {
        padding: 40px;
    }

    .first-box {
        border-radius: 8px 0 0 8px;
    }

    .third-box {
        border-radius: 0 8px 8px 0;
    }

    .btn {
        margin-top: 77px;
    }
}